body{
    margin: 0;
    
}

.wrapper{
    width: 100;
    height: 100%;
    
    }

#comeco{
    position: absolute;
    width: 100vw;
    height: 480px;
    left: 0;
    top: 0px;
    background-color: rgba(240,255,0, 0.5);
}

#ciencias{
    color: #1D5865;
    top: 580px;
    position: absolute;
    width: 100vw;
    height: 480px;
    font-family: 'Fredoka', sans-serif;
    left: 31px;
    font-size: 70px;
}
    
#topo{
    position: relative;
    width: 100vw;
    height: 480px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    left: -11px;
    top: 60px;
    
}

#cienciassaude{
    position: absolute;
    background-color:#063D49;
    width:700px;
    height: 350px;
    border-radius: 20px;
    left: 200px;
    top: 750px;
    }

    #basetexto{
    position: absolute;
    width: 719px;
    height: 340px;
    left: 102px;
    top: 710px;
    color: #ffffff;
    background: #135F6F;
    border-radius: 40px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;

    }

    .o-que-e{position: absolute; background:#135F6F; width: 100%; padding: 100px 0px; top:1250px ; } 

.container{ position:relative; width: 1200px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; padding: 30px; } 

.container .card-5{ position: relative; max-width: 300px; height: 250px; background: #101010; margin:30px 10px; padding: 20px 15px; display: flex; flex-direction: column; box-shadow: 0 5px 202px rgba(0,0,0,0.5); transition: 0.3s ease-in-out; } 

.container .card-5:hover{ height: 450px; } 

.container .card-5 .img7{ position: relative; width: 260px; height: 260px; top: -60px; left: 5px; z-index: 1; box-shadow: 0 5px 20px rgba(0,0,0,0.2); }

.container .card-5 .img7 img{ max-width: 100%; border-radius: 4px; } 

.container .card-5 .texto-cursos{ position: relative; margin-top:-140px; padding: 10px 15px; text-align: center; color: #111; visibility: hidden; opacity: 0; transition: 0.3s ease-in-out; } 

.container .card-5:hover .texto-cursos{ visibility: visible; opacity: 1; margin-top: -40px; transition-delay: 0.1s; } 

.o-que-e h2{ color:#fff; font-size:65px; width:1130px; margin: 30px auto; text-align: center; } 

.titulo6 h2{ color:#fff; font-size:65px; width:1130px; margin: 30px auto; text-align: center; } 

.texto-cursos p{ color:#fff; font-size: 10px; } 

.texto-cursos h3{ color:#fff; font-size: 19px; } 

.box1{ display: flex; justify-content: center; align-items: center; min-height: 400px; } 

.card-7{ height: 380px; width: 335px; padding:20px 35px; background:#000; border-radius:20px; margin: 15px; position:relative; overflow: hidden; text-align: center; } 

.Cursos{ background:#063D49; width: 100%; padding: 100px 0px; } 

.container{ position:relative; width: 1100px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; padding: 30px; } 

.container .card-5{ position: relative; max-width: 300px; height: 210px; background: #063D49; margin:30px 10px; padding: 20px 15px; display: flex; flex-direction: column; box-shadow: 0 5px 202px #135F6F; transition: 0.3s ease-in-out; } 

.container .card-5:hover{ height: 450px; } 

.container .card-5 .imagem-cursos{ position: relative; width: 260px; height: 260px; top: -60px; left: 5px; z-index: 1; box-shadow: 0 5px 20px rgba(0,0,0,0.2); } 

.container .card-5 .imagem-cursos img{ max-width: 100%; border-radius: 4px; } 

.container .card-5 .texto-cursos{ position: relative; margin-top:-140px; padding: 10px 15px; text-align: center; color: #063D49; visibility: hidden; opacity: 0; transition: 0.3s ease-in-out; } 

.container .card-5:hover .texto-cursos{ visibility: visible; opacity: 1; margin-top: -40px; transition-delay: 0.1s; } 

.o-que-e h2{ color:#fff; font-size:65px; width:1130px; margin: 30px auto; text-align: center; } 

.titulo6 h2{ color:#fff; font-size:65px; width:1130px; margin: 30px auto; text-align: center; }

.texto-cursos p{ color:#fff; font-size:16px; }

.texto-cursos h3{ color:#fff; font-size: 25px; }

.box1{ display: flex; justify-content: center; align-items: center; width: auto; height:auto; }

.card-7{ height: 380px; width: 335px; padding:20px 35px; background:#063D49; border-radius:20px; margin: 15px; position:relative; overflow: hidden; text-align: center; }

.graduação1{ background:#063D49; width: 100%; padding: 100px 0px; }

.sobre-faculdades
    { background:#153E47;
         width: 100%;
          padding: 100px 0px;
        top: 7836px; 
    position: relative;} 
    .container
    { position:relative;
         width: 1200px; 
         display: flex; 
         justify-content: center;
          align-items: center; 
          flex-wrap: wrap;
           padding: 30px; }
     .container .card-5
     { position: relative;
         max-width: 300px;
          height: 250px;
           background: #101010;
            margin:30px 10px;
             padding: 20px 15px; 
             display: flex; 
             flex-direction: column;
              box-shadow: 0 5px 202px rgba(0,0,0,0.5);
               transition: 0.3s ease-in-out; } 
    .container .card-5:hover
    { height: 450px; } 
    .container .card-5 .img7
    { position: relative;
         width: 260px;
          height: 260px;
           top: -60px;
            left: 5px;
             z-index: 1;
              box-shadow: 0 5px 20px #153E47; } 
              .container .card-5 .img7 img
              { max-width: 100%;
                 border-radius: 4px; } 
              .container .card-5 .texto-sobre-faculdades{ position: relative; margin-top:-140px; padding: 10px 15px; text-align: center; color: #153E47; visibility: hidden; opacity: 0; transition: 0.3s ease-in-out; } 
              .container .card-5:hover .texto-sobre-faculdades{ visibility: visible; opacity: 1; margin-top: -40px; transition-delay: 0.1s; }
               .sobre-faculdades h2{ color:#fff; font-size:65px; width:1130px; margin: 30px auto; text-align: center; } .titulo6 h2{ color:#fff; font-size:65px; width:1130px; margin: 30px auto; text-align: center; } 
              .texto-sobre-faculdades p{ color:#fff; font-size:10px; } 
              .texto-sobre-faculdades h3{ color:#fff; font-size: 19px; } 
              .box1{ display: flex; justify-content: center; align-items: center; min-height: 400px; } 
              .card-7{ height: 380px; width: 335px; padding:20px 35px; background:#135F6F; border-radius:20px; margin: 15px; position:relative; overflow: hidden; text-align: center; } 
              .como-e{ background:#252525; width: 100%; padding: 100px 0px; } 
              .container{ position:relative; width: 1100px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; padding: 30px; }
               .container .card-5{ position: relative; max-width: 300px; height: 210px; background: #135F6F; margin:30px 10px; padding: 20px 15px; display: flex; flex-direction: column; box-shadow: 0 5px 202px #135F6F; transition: 0.3s ease-in-out; }
                .container .card-5:hover{ height: 462px; }
                 .container .card-5 .imagens-sobre{ position: relative; width: 210px; height: 210px; top: -60px; left: 24px; z-index: 1; box-shadow: 0 5px 20px #135F6F; }
                  .container .card-5 .imagens-sobre img{ max-width: 100%; border-radius: 4px; }
                   .container .card-5 .texto-sobre-faculdades{ position: relative; margin-top:-140px; padding: 10px 15px; text-align: center; color: #135F6F; visibility: hidden; opacity: 0; transition: 0.3s ease-in-out; }
                    .container .card-5:hover .texto-sobre-faculdades{ visibility: visible; opacity: 1; margin-top: -40px; transition-delay: 0.1s; }
                     .sobre-faculdades h2{ color:#fff; font-size:65px; width:1130px; margin: 30px auto; text-align: center; }
                      .titulo6 h2{ color:#fff; font-size:65px; width:1130px; margin: 30px auto; text-align: center; } 
                      .texto-sobre-faculdades p{ color:#fff; font-size:15px; } 
                      .texto-sobre-faculdades h3{ color:#fff; font-size: 19px; } 
                      .box1{ display: flex; justify-content: center; align-items: center; width: auto; height:auto; } 
                      .card-7{ height: 380px; width: 335px; padding:20px 35px; background:#135F6F; border-radius:20px; margin: 15px; position:relative; overflow: hidden; text-align: center; }
                      .graduação1{ background:#135F6F; width: 100%; padding: 100px 0px; }

                      .section1{
                        margin: 0;
                        padding: 0;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        background-color: #ffffff;
                      }
                      
                      .section1-conteudo{
                        margin: 0;
                        padding: 0;
                        height: auto;
                        margin-bottom: 60px;
                        display: flex;
                        justify-content: center;
                        margin-top: 7850px;
                      }
                      
                      .slider{
                        width: 800px;
                        height: 500px;
                        border-radius: 10px;
                        overflow: hidden;
                      }
                      
                      .slide{
                        width: 500%;
                        height: 500px;
                        display: flex;
                      }
                      
                      .slide input{
                        display: none;
                      }
                      
                      .st{
                        width: 20%;
                        transition: 2s;
                      }
                      
                      .st img{
                        width: 800px;
                        height: 500px;
                      }
                      
                      #radio1:checked ~.first{
                        margin-left: 0;
                      }
                      
                      #radio2:checked ~.first{
                        margin-left: -20%;
                      }
                      
                      
                      #radio3:checked ~.first{
                        margin-left: -40%;
                      }
                      
                      #radio1:checked ~ .nav-auto .a-b1{
                        background-color: #0a4f66;
                      }
                      
                      #radio2:checked ~ .nav-auto .a-b2{
                        background-color: #0a4f66;
                      }
                      
                      #radio3:checked ~ .nav-auto .a-b3{
                        background-color: #0a4f66;
                      }
                      
                      
                      .nav-m{
                        position: absolute;
                        width: 800px;
                        margin-top: -20px;
                        justify-content: center;
                        display: flex;
                      }
                      
                      .m-btn{
                        border: 2px solid #0a4f66;
                        padding: 5px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 1s;
                      }
                      
                      .m-btn:not(:last-child){
                        margin-right: 30px;
                      }
                      
                      .m-btn:hover{
                        background-color: #0a4f66;
                      }
                      .section5{
                        background-color: #257f93;
                        height: auto;
                        top:6000px;
                        left: 0;
                        margin-top: 35px;
                        position: relative;
                      }
                      
                      .faculdade-medicina {
                        color: #ffffff;
                        font-size: 60px;
                        text-align: center;
                        margin-top: -30px;
                        font-weight: 400;
                        letter-spacing: 3px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        padding-top: 16px;
                      }
                      
                      .titulo-faculdade {
                        position: relative;
                        top: 32px;
                        
                      }
                      
                      .container{
                        width: 1150px;
                        padding: 55px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        cursor: pointer;
                      }
                      
                      .container .card{
                        position: relative;
                        padding: 10px;
                        width: 290px;
                        height: 400px;
                        background-color: #ffffff;
                        margin: 15px;
                        border: 1px solid #063D49;
                        border-radius: 20px;
                        overflow: hidden;
                        transform: 0.5s;
                        text-align: center;
                        top: 10px;
                      }
                      
                      .container .card .imagem{
                        transition: 0.5s;
                        align-items: center;
                      
                      }
                      
                      .container .card .content{
                        padding: 20px;
                        text-align: center;
                      }
                      
                      .container .card .content p{
                        color: #000000;
                        transition: 0.5s;
                        font-size: large;
                      }
                      
                      .container .card:hover{
                        background-color: #063D49;
                        color: #ffffff;
                        margin-top: -30px;
                        box-shadow: 2px 20px 25px #063D49;
                        border-color: #063D49;
                        transition: 0.3s;
                      }
                      
                      .container .card:hover .content p{
                        color: #ffffff;
                      }
                      
                      .botao{
                        background-color: #136475;
                        border-radius: 15px;
                        width: 150px;
                        border-color: #ffffff;
                        margin-left: 60px;
                      }
                      
                        .grade{
                          color: #ffffff;
                        }
                        .linha1{
                          position: absolute;
                          width: 135px;
                          height: 20px;
                          left: 50px;
                          top: 2600px;
                          background: #000000;
                          border-radius: 8px;
                          }
                        
                          #medicina{
                          position: absolute;
                          width: 15px;
                          height: 32px;
                          left: 200px;
                          top: 2540px;
                          font-family: 'Hermeneus One';
                          font-style: normal;
                          font-weight: 400;
                          font-size: 75px;
                          line-height: 145px;
                          color: #000000;
                        
                          }
                      
                          .linha2{
                              position: absolute;
                              width: 435px;
                              height: 20px;
                              left:500px;
                              top:2607px;
                            background-color: #000000;
                              border-radius: 8px;
                              }
                      
                             
                      
                              .titulo h2{
                      
                                 color:#fff;
                                 font: size 65px;
                                 width:1130px;;
                                 margin: 30px auto;
                                 text-align: center;
                                  
                              }
                      
                              .box{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                min-height: 400px;
                                background-color: #0a4f66;;
                               
                              }
                      
                      
                             .card-9{
                      
                                height: 400px;
                                width: 335px;
                                padding:20px 35px;
                                background-color:#0a4f66;
                                border-radius:30px;
                                margin:100px;
                                left: 198px;
                                top: 2000px;
                                position:relative;
                                overflow: hidden;
                                text-align: center;
                               }
                      
                      
                                .texto2 h5{
                                  
                               color:#fff ;
                               font-size: 23px;
                               margin-bottom:15px;
                               height:25px
                                  
                               }
                      
                                
                                .texto2 p{
                                  
                                color:#FFF;
                                font-size:18px ;
                                height:230px;
                               
                                 }
                      
                      
                                .card-9 .button{
                                  
                                background-color:#00243E;
                                color:#fff;
                                text-decoration:none;
                                border: 2px solid transparent;
                                  
                                 top:600px ;
                                 font-weight: bold;
                                 padding: 9px 22px;
                                 border-radius:30px ;
                                 transition: .4s;
                                 
                                  
                                  
                                 }
                      
                      
                                   .card-9.button-houver{
                                  
                                   background-color:transparent;
                                   border: 2px solid #00243E ;
                                  cursor:pointer;
                                  
                                  
                                }
                      
                                #dois{
                                  height: 400px;
                                width: 335px;
                                padding:20px 35px;
                                background-color:#0a4f66;
                                border-radius:30px;
                                margin:100px;
                                left: 10px;
                                top: 2000px;
                                position:relative;
                                overflow: hidden;
                                text-align: center;
                                }
                                
                      
                      
                                #tres{
                                  height: 400px;
                                width: 335px;
                                padding:20px 35px;
                                background-color:#000;
                                border-radius:30px;
                                margin:100px;
                                left: -180px;
                                top: 2000px;
                                position:relative;
                                overflow: hidden;
                                text-align: center;
                                }
                      
                      
                                .linha3{
                                  position: absolute;
                                  width: 135px;
                                  height: 20px;
                                  left: 50px;
                                  top: 865px;
                                  background: #000000;
                                  border-radius: 8px;
                                  }
                                
                                  #psicologia{
                                  position: absolute;
                                  width: 15px;
                                  height: 32px;
                                  left: 0px;
                                  top: 3040px;
                                  font-family: 'Hermeneus One';
                                  font-style: normal;
                                  font-weight: 400;
                                  font-size: 75px;
                                  line-height: 145px;
                                  color: #000000;
                                
                                  }
                              
                                  .linha4{
                                      position: absolute;
                                      width: 435px;
                                      height: 20px;
                                      left:530px;
                                      top:867px;
                                    background-color: #000000;
                                      border-radius: 8px;
                                      }
                      
                                      #quatro{
                                        height: 400px;
                                      width: 335px;
                                      padding:20px 35px;
                                      background-color:#0a4f66;
                                      border-radius:30px;
                                      margin:100px;
                                      left:-50px;
                                      top:-600px;
                                      position:relative;
                                      overflow: hidden;
                                      text-align: center;
                                      }
                      
                                      #cinco{
                                        height: 400px;
                                      width: 335px;
                                      padding:20px 35px;
                                      background-color:#0a4f66;
                                      border-radius:30px;
                                      margin:100px;
                                      left: 320px;
                                      top: -1098px;
                                      position:relative;
                                      overflow: hidden;
                                      text-align: center;
                                      }
                      
                                      #seis{
                                        height: 400px;
                                      width: 335px;
                                      padding:20px 35px;
                                      background-color:#0a4f66;
                                      border-radius:30px;
                                      margin:100px;
                                      left: 700px;
                                      top: -1600px;
                                      position:relative;
                                      overflow: hidden;
                                      text-align: center;
                                      }
                      
                                      .linha5{
                                        position: absolute;
                                        width: 435px;
                                        height: 20px;
                                        left:870px;
                                        top:1565px;
                                      background-color: #000000;
                                        border-radius: 8px;
                                        }
                      
                                        #terapia{
                                          position: absolute;
                                          width: 15px;
                                          height: 32px;
                                          left: 200px;
                                          top: 1500px;
                                          font-family: 'Hermeneus One';
                                          font-style: normal;
                                          font-weight: 400;
                                          font-size: 75px;
                                          line-height: 145px;
                                          color: #000000;
                                        
                                          }
                                          
                                          #ocupacional{
                                            position: absolute;
                                          width: 15px;
                                          height: 32px;
                                          left: 450px;
                                          top: 1500px;
                                          font-family: 'Hermeneus One';
                                          font-style: normal;
                                          font-weight: 400;
                                          font-size: 75px;
                                          line-height: 145px;
                                          color: #000000;
                                           }
                      
                      
                                          .linha6{
                                            position: absolute;
                                            width:135px;
                                            height: 20px;
                                            left:33px;
                                            top:1565px;
                                          background-color: #000000;
                                            border-radius: 8px;
                                            }
                                            
                      
                                            #sete{
                                              height: 400px;
                                            width: 335px;
                                            padding:20px 35px;
                                            background-color:#0a4f66;
                                            border-radius:30px;
                                            margin:100px;
                                            left: -62px;
                                            top: 800px;
                                            position:relative;
                                            overflow: hidden;
                                            text-align: center;
                                            }
                      
                      
                                            #oito{
                                              height: 400px;
                                            width: 335px;
                                            padding:20px 35px;
                                            background-color:#0a4f66;
                                            border-radius:30px;
                                            margin:100px;
                                            left: 320px;
                                            top: 300px;
                                            position:relative;
                                            overflow: hidden;
                                            text-align: center;
                                            }
                      
                      
                                            #nove{
                                              height: 400px;
                                            width: 335px;
                                            padding:20px 35px;
                                            background-color:#0a4f66;
                                            border-radius:30px;
                                            margin:100px;
                                            left: 700px;
                                            top:-202px;
                                            position:relative;
                                            overflow: hidden;
                                            text-align: center;
                                            }
                      
                      
                                            .linha7{
                                              position: absolute;
                                              width: 435px;
                                              height: 20px;
                                              left:600px;
                                              top:2320px;
                                            background-color: #000000;
                                              border-radius: 8px;
                                              }
                      
                      
                                            #odontologia{
                                              position: absolute;
                                            width: 15px;
                                            height: 32px;
                                            left: 200px;
                                            top: 2250px;
                                            font-family: 'Hermeneus One';
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 75px;
                                            line-height: 145px;
                                            color: #000000;
                                             }
                      
                                             .linha8{
                                              position: absolute;
                                              width:135px;
                                              height: 20px;
                                              left:33px;
                                              top:2320px;
                                            background-color: #000000;
                                              border-radius: 8px;
                                              }
                      
                      
                                              #dez{
                                                height: 400px;
                                              width: 335px;
                                              padding:20px 35px;
                                              background-color:#0a4f66;
                                              border-radius:30px;
                                              margin:100px;
                                              left:-62px;
                                              top:65px;
                                              position:relative;
                                              overflow: hidden;
                                              text-align: center;
                                              }
                      
                                              #onze{
                                                height: 400px;
                                              width: 335px;
                                              padding:20px 35px;
                                              background-color:#0a4f66;
                                              border-radius:30px;
                                              margin:80px;
                                              left:343px;
                                              top:-435px;
                                              position:relative;
                                              overflow: hidden;
                                              text-align: center;
                                              }
                      
                                              #doze{
                                                height: 400px;
                                              width: 335px;
                                              padding:20px 35px;
                                              background-color:#0a4f66;
                                              border-radius:30px;
                                              margin:100px;
                                              left: 708px;
                                              top:-935px;
                                              position:relative;
                                              overflow: hidden;
                                              text-align: center;
                                              }
                      
                                              .linha9{
                                                position: absolute;
                                                width: 435px;
                                                height: 20px;
                                                left:900px;
                                                top:3110px;
                                              background-color: #000000;
                                                border-radius: 8px;
                                                }
                      
                      
                                              #estetica{
                                                position: absolute;
                                              width: 15px;
                                              height: 32px;
                                              left: 200px;
                                              top: 3040px;
                                              font-family: 'Hermeneus One';
                                              font-style: normal;
                                              font-weight: 400;
                                              font-size: 75px;
                                              line-height: 145px;
                                              color: #000000;
                                               }
                      
                                               #e{
                                                position: absolute;
                                              width: 15px;
                                              height: 32px;
                                              left: 480px;
                                              top: 3040px;
                                              font-family: 'Hermeneus One';
                                              font-style: normal;
                                              font-weight: 400;
                                              font-size: 75px;
                                              line-height: 145px;
                                              color: #000000;
                                               }
                      
                      
                                               #cosmetica{
                                                position: absolute;
                                              width: 15px;
                                              height: 32px;
                                              left: 560px;
                                              top: 3040px;
                                              font-family: 'Hermeneus One';
                                              font-style: normal;
                                              font-weight: 400;
                                              font-size: 75px;
                                              line-height: 145px;
                                              color: #000000;
                                               }
                      
                                               .linha10{
                                                position: absolute;
                                                width:135px;
                                                height: 20px;
                                                left:33px;
                                                top:3110px;
                                              background-color: #000000;
                                                border-radius: 8px;
                                                }
                      
                      
                                                #treze{
                                                  height: 400px;
                                                width: 335px;
                                                padding:20px 35px;
                                                background-color:#0a4f66;
                                                border-radius:30px;
                                                margin:100px;
                                                left:-62px;
                                                top:-650px;
                                                position:relative;
                                                overflow: hidden;
                                                text-align: center;
                                                }
                      
                      
                                                #quatorze{
                                                  height: 400px;
                                                width: 335px;
                                                padding:20px 35px;
                                                background-color:#0a4f66;
                                                border-radius:30px;
                                                margin:100px;
                                                left: 335px;
                                                top:-1150px;
                                                position:relative;
                                                overflow: hidden;
                                                text-align: center;
                                                }
                      
                      
                      
                                                #quinze{
                                                  height: 400px;
                                                width: 335px;
                                                padding:20px 35px;
                                                background-color:#0a4f66;
                                                border-radius:30px;
                                                margin:100px;
                                                left: 730px;
                                                top:-1650px;
                                                position:relative;
                                                overflow: hidden;
                                                text-align: center;
                                                }
                      
                                                .linha11{
                                                  position: absolute;
                                                  width: 435px;
                                                  height: 20px;
                                                  left:610px;
                                                  top:3870px;
                                                background-color: #000000;
                                                  border-radius: 8px;
                                                  }
                      
                      
                                                #enfermagem{
                                                  position: absolute;
                                                width: 15px;
                                                height: 32px;
                                                left: 200px;
                                                top: 3800px;
                                                font-family: 'Hermeneus One';
                                                font-style: normal;
                                                font-weight: 400;
                                                font-size: 75px;
                                                line-height: 145px;
                                                color: #000000;
                                                 }
                      
                      
                                                 .linha12{
                                                  position: absolute;
                                                  width:135px;
                                                  height: 20px;
                                                  left:33px;
                                                  top:3870px;
                                                background-color: #000000;
                                                  border-radius: 8px;
                                                  }
                      
                      
                                                  #dezesseis{
                                                    height: 400px;
                                                  width: 335px;
                                                  padding:20px 35px;
                                                  background-color:#0a4f66;
                                                  border-radius:30px;
                                                  margin:100px;
                                                  left:-62px;
                                                  top:-1400px;
                                                  position:relative;
                                                  overflow: hidden;
                                                  text-align: center;
                                                  }
                      
                                                  #dezessete{
                                                    height: 400px;
                                                  width: 335px;
                                                  padding:20px 35px;
                                                  background-color:#0a4f66;
                                                  border-radius:30px;
                                                  margin:100px;
                                                  left: 335px;
                                                  top:-1900px;
                                                  position:relative;
                                                  overflow: hidden;
                                                  text-align: center;
                                                  }
                      
                      
                                                  #dezoito{
                                                    height: 400px;
                                                  width: 335px;
                                                  padding:20px 35px;
                                                  background-color:#0a4f66;
                                                  border-radius:30px;
                                                  margin:100px;
                                                  left: 730px;
                                                  top:-2400px;
                                                  position:relative;
                                                  overflow: hidden;
                                                  text-align: center;
                                                  }